<widget id="com.example.hello" version="0.0.1">
    <name>Hybrid Example</name>
    <description>
        This is an example of an Hybrid-App for Summer class
    </description>
    <author email="170300059@ucaribe.edu.mx">
        Christopher Orea
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <platform name="android">
        <preference name="Orientation" value="sensorLandscape" />
    </platform>
    <icon src="ico.png" width="180" height="180" />
     <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
    </feature>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>